h3 {
  color: black;
  font-weight: 600;
  margin-block: 2rem;
}
p,
h3,
button {
  padding-inline: 2rem;
}

button {
  border: 2px solid dodgerblue;
  border-radius: 2rem;
  margin-left: 2rem;
  margin-block: 1rem;
}
